html, body {
    font-size: 16px;
    min-height: 100%;
}

body {

    font-family: var(--main-font);
    
    font-weight: 400;
    line-height: 150%;

    display: flex;
    flex-direction: column;

    //padding-right: var(--popup-padding);

    &._active {
        overflow: hidden;
    }

    &._popup-active {
        overflow: hidden;
    }
    
}

.offset-check-js {
    position: fixed;
    left: 0; top: 0;
}

.wrapper {
    min-height: 100%;
}

.main {
    position: relative;
    overflow: hidden;

    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    padding-bottom: 77.5px;

    @media (min-width: 685px) {
        padding-bottom: 71.5px;
    }

    @media (min-width: 890px) {
        padding-bottom: 78px;
    }

    @media (min-width: 960px) {
        padding-bottom: 77.5px;
    }

    @media (min-width: 1015px) {
        padding-bottom: 78px;
    }

    @media (min-width: 1205px) {
        padding-bottom: 89px;
    }

    @media (min-width: 1285px) {
        padding-bottom: 88px;
    }
}

.show, .show2 {
    position: fixed;
    left: 0; top: 0;
    z-index: 100;
    width: 100%; height: 100%;
    background-position: 0 0;
    pointer-events: none;
}

@keyframes showfall {
    100% {
        background-position: 170em 170em;
    }
}

@keyframes showfall2 {
    100% {
        background-position: 140em 0;
    }
}

/* @keyframes showfall2mob {
    100% {
        background-position: 110em 0;
    }
}

@keyframes showfallmob {
    100% {
        background-position: 150em 150em;
    }
} */

.show {
    background-size: 170em;
    @media (min-width: 890px) {
        background-size: 170em;
        animation: showfall 50s linear infinite;
    }
    animation: showfall 60s linear infinite;
    opacity: .4;
}

.show2 {
    background-size: 140em;
    @media (min-width: 890px) {
        background-size: 140em;
        animation: showfall2 45s linear infinite;
    }
    animation: showfall2 55s linear infinite;
    opacity: .1;
}

.show-wrapper {
    opacity: 0;
    transition: opacity .5s ease;
    will-change: opacity;
    z-index: 100;
}

.container {
    padding: 0 40px;
    @media (min-width: 685px) {
        padding: 0 var(--container-padding);
    }
    @media (min-width: 800px) {
        padding: 0 140px;
    }
    @media (min-width: 890px) {
        padding: 0 var(--container-padding);
    }
    margin: 0 auto;
    max-width: #{$container}px;
    &._min {
        max-width: #{$containerMin}px;
    }
    &._large {
        max-width: #{$containerLarge}px;
    }
}

.section-padding {
    padding: 77.5px 0;

    @media (min-width: 685px) {
        padding: 71.5px 0;
    }

    @media (min-width: 890px) {
        padding: 78px 0;
    }

    @media (min-width: 960px) {
        padding: 77.5px 0;
    }

    @media (min-width: 1015px) {
        padding: 78px 0;
    }

    @media (min-width: 1205px) {
        padding: 89px 0;
    }

    @media (min-width: 1285px) {
        padding: 88px 0;
    }
}

.bg-img {
    position: absolute;
    left: 0; top: 0;
    
    width: 100%; height: 100%;

    user-select: none;
    object-fit: cover;

    z-index: -1;
}

.btn {
    display: inline-flex;
    align-items: center;
    & svg {
        margin-left: 21px;
    }
    text-align: center;
    
    padding: 18px 25px;

    background: var(--accent);
    color: var(--white);

    border-radius: 18px;

    transition: color .3s ease-in-out, background .3s ease-in-out, opacity .3s ease-in-out;

    &:hover {
        background: var(--accent-light);
    }
    
    &:active {
        background: var(--accent-dark);
    }
    
    &._gradient {
        &::before, &::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			z-index: -1;
            width: 100%; height: 100%;
            transition: opacity .3s ease-in-out;
            opacity: 0;
		}
        background: transparent;

        &::before {
            background: var(--accent-dark);
            opacity: 1;
        }

        &::after {
            background: linear-gradient(90deg, rgba(72,172,240,1) 0%, rgba(166,99,204,1) 100%);
        }
        
        &:hover {
            background: transparent;
            color: #FFF;
            &::after {
                opacity: 1;
            }
            
        }
        
        &:active {
            &::after {
                opacity: .7;
            }
        }
    }

    &._light {
        color: var(--accent);
        background: #FFF;
        &:hover {
            background: #FFF;
            opacity: .8;
        }
        
        &:active {
            background: #FFF;
            opacity: .7;
        }
    }
}

.hide-on-table {
    @media (max-width: 1095px) {
        display: none;
    }
}

.hide-on-mob {
    @media (max-width: 535px) {
        display: none;
    }
}

section {
    position: relative;
    z-index: 2;
}

[data-aos="custom-fade-up"] {
    opacity: 0; transform: translateY(35px);
    transition-property: transform, opacity;
  
    &.aos-animate {
      opacity: 1; transform: translateY(0px);
    }
  
    /* @media screen and (min-width: 768px) {
      transform: translateX(100px);
  
      &.aos-animate {
        transform: translateX(0);
      }
    } */
  }
