

$containerPadding: 77;

$container: 1160 + ($containerPadding * 2);
$containerMin: 1280 + ($containerPadding * 2);
$containerLarge: 1560 + ($containerPadding * 2);

:root {
    --title-font: 'EuclidCircularA';
    --main-font: 'EuclidCircularA';
    
    --accent: #0E0B3D;
    --accent-light: #18135f;
    --accent-dark: #08052b;

    --light: #F4F6F9;

    --white: #FFF;
    --black: #000;

    --container-padding: 77px;
}

@font-face {
    @include font-include('EuclidCircularA', 400, swap, normal, 'EuclidCircularA-Regular');
}

@font-face {
    @include font-include('EuclidCircularA', 500, swap, normal, 'EuclidCircularA-Medium');
}

@font-face {
    @include font-include('EuclidCircularA', 600, swap, normal, 'EuclidCircularA-SemiBold');
}
