.integrate {
	// .integrate__body

	&__body {
		position: relative;
		padding: 175px 0 87px 0;
		@media (min-width: 435px) {
			padding: 175px 0 175px 0;
		}
		@media (min-width: 535px) {
			padding: 190px 0 210px 0;
		}

		@media (min-width: 685px) {
			padding: 160px 0 183px 0;
		}

		@media (min-width: 890px) {
			padding: 178px 0 170px 0;
		}
		
		@media (min-width: 960px) {
			padding: 185px 0 203px 0;
		}
		@media (min-width: 1015px) {
			padding: 185px 0;
		}
		@media (min-width: 1205px) {
			padding: 165px 0;
		}
	}

	// .integrate__bg

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;
		background: #F7F9FC;
		clip-path: polygon(0 1.5%, 100% 0, 100% 98.5%, 0% 100%);
		@media (min-width: 890px) {
			clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
		}

		user-select: none;
		pointer-events: none;

		// .integrate__bg--element

		&--element {
			position: absolute;
			& img {
				width: 400px; height: auto;
			}
			&:nth-child(1) {
				left: 0; top: 0;
			}

			&:nth-child(2) {
				right: 0; bottom: 0;
			}
		}
	}

	// .integrate__container

	&__container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .integrate__name

	&__name {
		
	}

	// .integrate__title

	&__title {
		max-width: 350px;
		@media (min-width: 960px) {
			max-width: 400px;
		}
		@media (min-width: 1205px) {
			max-width: 500px;
		}

		font-size: 2.25rem;
	}

	// .integrate__text

	&__text {
		max-width: 450px;
		@media (min-width: 1205px) {
			max-width: 530px;
		}
	}

	// .integrate__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		margin: -27.5px -12.5px;
		padding-top: 76px;
		@media (min-width: 535px) {
			padding-top: 87px;
		}
		@media (min-width: 890px) {
			margin: -55px -12.5px;
		}
		
		@media (min-width: 960px) {
			margin: -50px -30px;
		}
		@media (min-width: 1015px) {
			margin: -83px -30px;
		}
		@media (min-width: 1205px) {
			padding-top: 90px;
		}
		@media (min-width: 1285px) {
			padding-top: 87px;
			margin: -83px -38px;
		}
	}

	// .integrate__item

	&__item {
		flex: 1 1 100%;
		padding: 27.5px 0;

		@media (min-width: 890px) {
			flex: 0 1 33.333%;
			padding: 55px 12.5px;
		}

		position: relative;
		
		@media (min-width: 960px) {
			padding: 50px 30px;
		}
		@media (min-width: 1015px) {
			padding: 83px 30px;
		}
		@media (min-width: 1285px) {
			padding: 83px 38px;
		}

		&:nth-child(-n + 3) &--arrow {
			@media (min-width: 890px) {
				right: 0; top: 50px;
				transform: translate(50%,100%);
			}
			@media (min-width: 1015px) {
				top: 80px;
			}
			
		}

		&:nth-child(3n + 3) &--arrow {
			
			@media (min-width: 890px) {
				display: none;
			}
		}

		&:nth-child(n + 4):last-child &--arrow {
			@media (min-width: 890px) {
				display: block;
				right: 45px; top: 20px;
				transform: translate(50%,-100%) rotate(90deg);
			}
			@media (min-width: 1015px) {
				top: 35px;
			}
		}

		&:nth-child(n + 4) &--arrow {
			@media (min-width: 890px) {
				right: 0; top: 50px;
				transform: translate(50%,100%) scaleX(-1);
			}
			@media (min-width: 1015px) {
				top: 80px;
			}
		}

		&:nth-child(2n + 2) &--arrow {
			right: 0; top: 50px;
			transform: translate(0%,0%) rotate(90deg);
		}
		
		&:nth-child(2n + 3) &--arrow {
			left: 0; top: 50px;
			transform: translate(0%,0%) rotate(-90deg) scaleX(-1);
			
		}

		&:first-child &--arrow {
			display: none;
			@media (min-width: 890px) {
				display: block;
			}
		}

		// .integrate__item--arrow

		&--arrow {
			position: absolute;
			user-select: none;
			pointer-events: none;
			
			& img {
				width: 70px;
				@media (min-width: 960px) {
					width: 90px;
				}
			}
		}

		// .integrate__item--body

		&--body {
			
		}

		// .integrate__item--icon

		&--icon {
		}

		// .integrate__item--title

		&--title {
			padding-top: 42px;

			font-weight: 500;
			font-size: 1.5rem;
			line-height: 130%;
			@media (min-width: 1015px) {
				line-height: 150%;
				padding-top: 44px;
			}

			color: var(--accent);
		}

		// .integrate__item--text

		&--text {
			padding-top: 9px;
			line-height: 150%;
			font-size: 0.875rem;

			padding-left: 20px; padding-right: 20px;

			@media (min-width: 535px) {
				padding-left: 0; padding-right: 0;
			}
			
			@media (min-width: 890px) {
				max-width: 292px;
				display: inline-block;
			}
			@media (min-width: 1205px) {
				font-size: 1rem;
				max-width: 100%;
			}

			color: var(--accent);
		}
	}
}
